.DS_Store
.ipynb_checkpoints
batter-stats/
pitcher-stats/
python/src/__pycache__/
python/get_live_stats.log
python/src/get_live_stats.log
python/live_stats.log
python/batter_stats.log
python/pitcher_stats.log
python/batter-stats/
python/pitcher-stats/
